#message{
    border: 1px solid black;
    height: 100vh;
    width: 50%;
    float: right;
    overflow: scroll;
}

.chat {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 10px;
}
.timsChat{
    color: rgb(139, 173, 237);
    font-size: smaller;
}
.divChat{
    padding-left: 10px;
}

img{
    width: 70px;
    height: 100%;
    clip-path:ellipse(50% 50%);
}

#message :nth-child(odd){
background-color: rgb(247, 247, 247);
}

.users{
   
    width: 50px;
}

form{
    display: flex;
}
#name{
    flex: 1;
}
#messagesend{
    flex: 5;
}
button{
    flex: 1;
}
